<div class="col-md-2 col-md-offset-1">
  <ul class="nav nav-pills nav-stacked bs-docs-sidenav affix">
    <% @note_categories.each do |note_category| %>
      <li><a href="/notes?id=<%=note_category.id%>"><%=note_category.name%></a></li>
    <% end %>
  </ul>
</div>

<div class="col-md-6">
  <ol class="breadcrumb">
    <li><a href="/notes">笔记</a></li>
  </ol>
  <hr>
  <div class="list-group">
    <% @notes.each do |note|%>
    <a href="/notes/<%=note.id%>" class="list-group-item">
      <span class="badge"><%=note.created_at.strftime('%Y-%-m-%-d')%></span>
      <h4 class="list-group-item-heading"><%= note.title%></h4>
    </a>
    <% end %>
  </div>
</div>

<div class="col-md-3" id="color">
  <span class="yqlj">友情链接</span>
  <div>
   <a target="_black" href="http://www.troyliu.com">
    <abbr title="作者刘枫"><span class="label label-danger">枫叶阅读</span></abbr>
   </a>
   &nbsp;
   <a target="_black" href="http://commandeq.com/">
    <abbr title="作者刘枫"><span class="label label-success">弹痕</span></abbr>
  </a>
  </div>
</div>

<script type="text/javascript">
  $("#notes").addClass("active");
  if("<%=@note_category%>" == ""){
  }else{
    $(".breadcrumb").append("<li class='active'><%=@note_category%></li>")
  }
</script>

<style type="text/css">
.yqlj{
  font-size: 30px;
}
</style>