<div class="col-md-2 col-md-offset-1">
  <ul class="nav nav-pills nav-stacked bs-docs-sidenav affix">
    <% @note_categories.each do |note_category| %>
      <li><a href="/notes?id=<%=note_category.id%>"><%=note_category.name%></a></li>
    <% end %>
  </ul>
</div>
<div class="col-md-6">
  <ol class="breadcrumb">
    <li><a href="/notes">笔记</a></li>
  </ol>
  <div class="jumbotron">
    <h2><center><%= @note.title%></center></h2>
    <br>
    <p><%= @note.content%></p>
  </div>
</div>

<script type="text/javascript">
  if("<%=@note_category%>"== ""){
  }else{
    $(".breadcrumb").append("<li><a href='/notes?id=<%=@note_category.id%>'><%=@note_category.name%></a></li>");
    $(".breadcrumb").append("<li class='active'><%=@note.title%></li>");
  }
</script>