<div class="row">
  <div class="col-md-12">
    <h3>修改导航分类</h3>
  </div>
  <hr>
<%= form_for(@category,:html => {:role=>'form'}) do |f| %>
  <div class="form-group">
    <label>分类标题</label>
    <%= f.text_field :title, class:"form-control",:placeholder => "输入标题"%>
  </div>

  <div class="form-group">
    <%= f.label '分类名字' %><br />
    <%= f.text_field :name, class:'form-control',:rows => '3',:placeholder => "内容"%>
  </div>

  <%= f.submit '保存',class: "btn btn-success"%>
<% end %>