<% if true %>
  <% url,method = "/focus", "post" %>
<% else %>
  <% url,method = "/focus/#{@record.id}", "put" %>
<% end %>
<div class="row">
	<div class="span9 well form-horizontal offset1">
		<%=render 'message_info' %>
		<%= form_for(@focus) do |f|%>
			<div class="control-group">
				<label class="control-label">名称</label>
				<div class="controls">
					<%= f.text_field :name, class: "input-small"%>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">分类</label>
				<div class="controls">
					<%= f.select(:photo_category_id, options_for_select(@photo_categories))%>
				</div>
			</div>

			<div class="control-group"></div>

			<div class="control-group">
				<label class="control-label">图片</label>
				<div class="controls">
					<%= f.file_field :file, class: "input-file" %>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<%=f.submit '保存',class: "btn btn-primary"%>
					<%=link_to '返回',"/focus",class: "btn btn-primary"%>
				</div>
			</div>
		<% end %>
	</div>
</div>
<script type="text/javascript">
	photo_category_id = "<%=@focus.photo_category_id%>"
	$("#focus_category option[value='"+photo_category_id+"']").attr("selected", true);
</script>
