<div class="row-fluid">
  <div class="span8 offset2">
  	<hr>
<%= form_for(@message) do |f| %>
  <div class="field">
    <%= f.label '内容：' %><br />
    <%= f.text_field :content ,class: "input-medium" %>
  </div>
  <div class="field">
    <%= f.label '回复：' %><br />
    <%= f.text_field :response ,class: "input-xxlarge" %>
  </div>
  <div class="actions">
    <%= f.submit '更新' , class: "btn btn-primary"%>
  </div>
<% end %>
  </div>
</div>