<div class="row">
  <div class="col-md-12">
    <h3>修改心情</h3>
  </div>
  <hr>
<%= form_for(@mood,:html => {:role=>'form'}) do |f| %>
  <div class="form-group">
    <label>标题</label>
    <%= f.text_field :title, class:"form-control",:placeholder => "输入标题"%>
  </div>

  <div class="form-group">
    <%= f.label '文本内容' %><br />
    <%= f.text_area :content, class:'form-control',:rows => '3',:placeholder => "内容"%>
  </div>
  <div class="form-group">
    <%= f.label '上传图片' %><br />
    <%= f.file_field :file, class: "input-file" %>
  </div>
    <%= f.submit '保存心情',class: "btn btn-success"%>
<% end %>