  <script src="<%= File.join(Settings.static_root,'js/jquery.js' )%>" type="text/javascript"></script>
  <script src="<%= File.join(Settings.static_root,'js/bootstrap.min.js' )%>" type="text/javascript"></script>
  <link href="<%=File.join(Settings.static_root,'css/bootstrap.min.css' )%>" rel="stylesheet" type="text/css" />
<div align='center'>
<h1>欢迎使用后台管理系统</h1>
<%= Time.now.strftime("%Y %m %d %H:%M:%S") %>
<hr>
<br><br><br><br><br>
<%= form_for(@user,:html => {:class=>'form-horizontal'}) do |f|%>
  <div class="form-group">
    <label class="col-sm-4 control-label">帐号</label>
    <div class="col-sm-4">
      <%= f.text_field :username, class:"form-control",:placeholder => "输入帐号"%>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">密码</label>
    <div class="col-sm-4">
      <%= f.password_field :password, class:"form-control",:placeholder => "输入密码"%>
    </div>
  </div>

  <%= f.submit '登录',class: "btn btn-success"%>
<% end %>
</div>